#tituloPrincipal {
    background-color: crimson;
    font-family: sans-serif;
    
}

#tituloSecundario{
    background-color: green;
}

#parrafoHistoria{
    font-family: sans-serif;
}

#tituloLista{
    background-color: crimson;
    font-family: sans-serif;
}